<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Мікроб і я: Практичні знання з наукових джерел</title>
    <meta name="description" content="Поширення цікавих практичних сучасних знань простою мовою, створення якісного українського контенту.">

    <!-- Pico.css -->
    <!-- href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" -->
    <link rel="stylesheet" href="css/pico.min.css">
  </head>

  <body>
    <header class="container">
        <nav>
          <ul>
            <li>
                <a href="index.html" class="contrast secondary">
                  <div>
                  <h1>Мікроб і я</h1>
                  Практичні знання з наукових джерел
                </div>
                </a>
            </li>
          </ul>
          <ul>
            <li><a href="index.html" class="contrast secondary">Публікації</a></li>
            <li><a href="pro-mikrob-i-ya.html" class="secondary">Про&nbsp;нас</a></li>
            <li><a href="kontakty.html" class="secondary">Контакти</a></li>
            <li>
              <details class="dropdown">
                <summary role="button" class="outline secondary">☀</summary>
                <ul>
                  <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                  <li><a href="#" data-theme-switcher="light">Light</a></li>
                  <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </nav>
      
    </header>

    MAIN-TO-REPLACE

    <!-- Minimal theme switcher -->
    <script src="js/minimal-theme-switcher.js"></script>
  </body>
  </html>
